<!DOCTYPE html>
<html>
<head>
  <title>Mission: Possible</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Russo+One|Black+Ops+One' rel='stylesheet' type='text/css'>  
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="./assets/favicon.ico" rel="icon" type="image/x-icon" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", sessions_destroy_path %>
<% else %>
  <%= link_to 'Login', '/' %> | <%= link_to 'Signup', users_new_path %>
<% end %>

<%= yield %>


</body>
</html>
