<nav class="navbar navbar-defualt">
  <div class="container">
    <div class="navbar-header">
      <a href=""></a><h1 id="headline">Mission: Possible</h1>
      <h4 id="subtitle">Mission Log</h4>
    </div>
  </div>
</nav>

<%=  render partial: 'table', locals: {todo_items: @todo_items.backlog} if @todo_items.backlog.any? %> 
<%=  render partial: 'table', locals: {todo_items: @todo_items.ready}  if @todo_items.ready.any? %> 
<%=  render partial: 'table', locals: {todo_items: @todo_items.in_progress} if @todo_items.in_progress.any? %> 
<%=  render partial: 'table', locals: {todo_items: @todo_items.complete} if @todo_items.complete.any? %> 


<div class="text-left"><%= link_to '', new_list_todo_item_path(@list), class: "fa fa-plus-square fa-2x" %></div>
