<div class="navbar-header">
  <div class="logout_button">
    <% if current_user %>
          Signed in as <%= current_user.name %> | <%= link_to "Logout", sessions_destroy_path %>
    <% else %>
          <%= link_to 'Login', '/' %> | <%= link_to 'Signup', users_new_path %>
    <% end %>
    </div>
  <h1 id="headline"><%= link_to "Mission: Possible", lists_path %></h1>
  <h4 id="subtitle">Current Objectives</h4>
</div>


<%=  render partial: 'table', locals: {todo_items: @todo_items.backlog} if @todo_items.backlog.any? %> 
<%=  render partial: 'table', locals: {todo_items: @todo_items.ready}  if @todo_items.ready.any? %> 
<%=  render partial: 'table', locals: {todo_items: @todo_items.in_progress} if @todo_items.in_progress.any? %> 
<%=  render partial: 'table', locals: {todo_items: @todo_items.complete} if @todo_items.complete.any? %> 


<div class="text-left"><%= link_to '', new_list_todo_item_path(@list), class: "fa fa-plus-square fa-2x" %></div>
