<div class="navbar-header">
  <div class="logout_button">
    <% if current_user %>
          Signed in as <%= current_user.name %> | <%= link_to "Logout", sessions_destroy_path %>
    <% else %>
          <%= link_to 'Login', '/' %> | <%= link_to 'Signup', users_new_path %>
    <% end %>
        <div>
      <%= image_tag 'RAF_roundel.png', class:"round" %>
    </div>
    </div>
  <h1 id="headline"><%= link_to "Mission: Possible", lists_path %></h1>
</div>

<br>

<div class=" new_objective container">

<h1 id="new_headline">New Objective</h1>

<div class="text-center"><%= render 'form' %></div>

</div>

<div class="text-center">

<div class="back_button"><%= link_to '', list_todo_items_path(@list), class:"fa fa-caret-square-o-left fa-2x" %></div>

</div>