<nav class="navbar navbar-defualt">
  <div class="container">
    <div class="navbar-header">
      <a href=""></a><h1 id="headline">Mission: Possible</h1>
    </div>
  </div>
</nav>

<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Todo:</strong>
  <%= @todo_item.todo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_item.description %>
</p>

<p>
  <strong>Due:</strong>
  <%= @todo_item.due %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @todo_item.completed %>
</p>

<%= link_to 'Edit', edit_todo_item_path(@todo_item) %> |
<%= link_to 'Back', todo_items_path %>
</div>