
<div class="navbar-header">
  <div class="logout_button">
    <% if current_user %>
          Signed in as <%= current_user.name %> | <%= link_to "Logout", sessions_destroy_path %>
    <% else %>
          <%= link_to 'Login', '/' %> | <%= link_to 'Signup', users_new_path %>
    <% end %>
    </div>
        <h1 id="headline"><%= link_to "Mission: Possible", lists_path %></h1>
        <h4 id="subtitle">Mission Log</h4>
  </div>

<br><div class="active_headline"><h1>Active Missions</h1></div>

<table class="list table">
  <thead>
    <tr>
      <th>Operation:</th>
      <th>Description</th>
      <th>Show</th>
      <th>Updates</th>
      <th>Abort</th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr class="data">
        <td class="list_text"><%= list.name %></td>
        <td class="list_text"><%= list.description %></td>
        <td><%= link_to '', list_todo_items_path(list), class:"fa fa-binoculars fa-2x" %></td>
        <td><%= link_to '', edit_list_path(list), class:"fa fa-laptop fa-2x" %></td>
        <td><%= link_to '', list, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-bomb fa-2x" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="text-left"><%= link_to '', new_list_path, class: "fa fa-plus-square fa-2x" %></div>
